<% if (locals.adminSide) { %>
<div class="footer container-fluid" style="padding-left:16vw;">
<% } else { %>
    <div class="footer container-fluid" style="padding-left:10px">
<% } %>
    <div class=" description">
        <p>We are dedicated to continuously improving and adapting <br> our offerings to ensure that we not only meet but also exceed <br> our customers' evolving needs and standards.</p>
    </div>
    <div class="footerflex">
        
    </div>
    <div class="policy">
        <p>policy</p>
    </div>
    <div class="help">
        <p>let us help you</p>
    </div>

</div>