<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/bootstrap-styles') %>
        <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header style="position: fixed; top: 0;">
        <%- include('../partials/navbar') %>
    </header>
    <main class="d-flex p-0">
        <!--Section: Contact v.2-->
        <div class="contact-left px-5">
            <div>
                <div class="my-5">
                    We are dedicated to continuously improving and adapting <br> our offerings to ensure that we not only meet but also exceed <br> our customers' evolving needs and standards.

                </div>
                <div class="col-md-12 text-center">
                    <ul class="list-unstyled mb-0 d-flex align-items-center contactform-ul justify-content-between">
                        <li><i class="fas fa-map-marker-alt fa-2x pt-4"></i>
                            <p>Kerala TVM</p>
                        </li>

                        <li><i class="fas fa-phone mt-4 fa-2x"></i>
                            <p>+12345678</p>
                        </li>

                        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                            <p>muhammedarif1972000@gmail.com</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contact-right">

            <section class="mb-4 px-5">

                <!--Section heading-->
                <h2 class="h1-responsive font-weight-bold text-center my-4" style="color: rgb(255, 255, 255);">Contact us</h2>
                <!--Section description-->
                <p class="text-center w-responsive mx-auto mb-5" style="color: rgb(255, 255, 255);">Do you have any questions? Please do not hesitate to
                    contact us directly. Our team will come back to you within
                    a matter of hours to help you.</p>

                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12 mb-md-0 mb-5">
                        <form id="contactForm" name="contact-form" action="/contact" method="POST">

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <input type="text" id="name" name="name" class="form-control" required>
                                        <label for="name" class=""style="color: rgb(255, 255, 255);">Your name</label>
                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <input type="text" id="email" name="email" class="form-control" required>
                                        <label for="email" class=""style="color: rgb(255, 255, 255);">Your email</label>
                                    </div>
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                            <!--Grid row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <input type="text" id="subject" name="subject" class="form-control">
                                        <label for="subject" class=""style="color: rgb(255, 255, 255);">Subject</label>
                                    </div>
                                </div>
                            </div>
                            <!--Grid row-->

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <textarea type="text" id="message" name="message" rows="2"
                                            class="form-control md-textarea"></textarea>
                                        <label for="message"style="color: rgb(255, 255, 255);">Your message</label>
                                    </div>

                                </div>
                            </div>
                            <!--Grid row-->

                        </form>


                        <div class="status"></div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->


                    <div class="text-center text-md-right">
                        <a class="default-button py-2" onclick="document.getElementById('contactForm').submit();">Send</a>
                    </div>
                    <!--Grid column-->

                </div>

            </section>
            <!--Section: Contact v.2-->

        </div>
    </main>
        <%- include('../partials/bootstrap-script') %>
</body>

</html>